
<table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Sexo</th>
        <th>Email</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>FechaNac</th>
        <th>FotoDePerfil</th>

        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entidad of data">
        <td>{{entidad.id}}</td>
        <td>{{entidad.Sexo}}</td>
        <td>{{entidad.email}}</td>

        <td>{{entidad.Nombre}}</td>
        <td>{{entidad.Apellido}}</td>
        <td>{{entidad.FechaNac}}</td>
        <td> <img [src]="entidad.FotoPerfil" style="width: 30%;"></td>


         <td><button type="button" class="btn btn-info btn-circle" (click)="mostrarEntidad(entidad)"  ><i class="fa fa-check"></i>Ver
        </button></td> 
      </tr>
     
    </tbody>
  </table>
